@import './variables.scss';

body,
html {
    font-family: "Wulkan Display";
    margin: 0;
    background-color: black;

    .home {
        height: 100vh;
        box-sizing: border-box;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__first-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &__first-text-wrapper {
                line-height: 6.5rem;
                display: flex;
                flex-direction: column;
            }
        }

        &__second-row {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            &__first-text-wrapper {
                // background-color: pink;
            }

            &__second-text-wrapper {
                &__scroll-action {
                    span {
                        font-family: 'Lato', sans-serif;
                        font-size: 0.8rem;
                        text-transform: none;
                    }

                    &__line {
                        height: 2px;
                        width: 100%;
                        background-color: red;
                    }
                }
            }
        }

        &__background-image {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                height: 80vh;
            }
        }
    }

    .slide-1,
    .slide-2 {

        &__container {
            height: 100vh;
            background-size: cover;
            background-position: center;

            &__content-wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &__text-wrapper {
                    position: absolute;

                    p {
                        color: white;
                        font-size: 7rem;
                    }
                }

                &__image {
                    img {
                        height: 60vh;
                    }
                }
            }
        }

    }

    .slide-1 {
        &__container {
            background-image: url('./assets/img/Background_1.jpg');
        }
    }

    .slide-2 {
        &__container {
            background-image: url('./assets/img/Background_2.jpg');
        }
    }
}