@font-face {
    font-family: "Wulkan Display";
    src: url("./assets/fonts/Wulkan-Display-Light.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    --main-bg-color: black;
    --main-text-color: #f20000;
    --main-text-size: 8rem;
    --small-text-size: 0.8rem;
    margin: 0;
}

p {
    color: var(--main-text-color);
    font-size: var(--main-text-size);
    text-transform: uppercase;
    line-height: 6.5rem;
    z-index: 2;
    position: relative;
}

span {
    color: var(--main-text-color);
    font-size: var(--small-text-size);
    z-index: 2;
}